#banner{
  position: relative;
  background: url('../img/Toronto_Ontario.jpg');
  min-height: 250px;

  .primary-overlay{
    background: rgba(38,210,170,0.78);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
